<div class="container p-4">
    <div class="d-flex justify-content-between align-items-end">
        <p>
            <a role="button" class="btn btn-danger fas fa-arrow-left" routerLink="/terreno">&nbsp;Regresar</a>
        </p>
        <p>
            <a role="button" class="btn btn-danger fas fas fa-home" routerLink="/productor">&nbsp;Inicio</a>
        </p>
    </div>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Dirección del terreno</th>
            <th scope="col">Cantidad de hectáreas</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let terreno of terrenos">
            <th>{{terreno.direccion_terreno}}</th>
            <th>{{terreno.cant_hect}}</th>
            <td>
                <div class="btn-group dropright">
                    <a class="nav-link  fas fa-ellipsis-h" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a (click)="modificarTerreno(terreno.id_terreno)" class="dropdown-item" role="button" data-placement="right" title="Modificar terreno">
                            <i class="fas fa-edit"></i>
                            Modificar Terreno
                        </a>
                        <a (click)="eliminarTerreno(terreno.id_terreno)" class="dropdown-item" role="button" data-placement="right" title="Añadir nuevo terreno">
                            <i class="far fa-trash-alt"></i> 
                            &nbsp;Eliminar Terreno
                        </a>
                        <div class="dropdown-divider"></div>
                        <a [routerLink]="['/cultivo/'+terreno.id_terreno+'/add']" class="dropdown-item" role="button" data-placement="right" title="Añadir nuevo cultivo">
                            <i class="fas fa-plus"></i>
                            &nbsp;Añadir nuevo cultivo
                        </a>
                        <a (click)="verCultivos(terreno.id_terreno)" class="dropdown-item" role="button" data-placement="right" title="Ver Telefono" data-toggle="modal" data-target="#modal2">
                            <i class="fas fa-cannabis"></i>
                            &nbsp;Ver cultivos
                        </a>
                    </div>
                </div>    
                <div class="modal fade" id="modal2">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Cultivos</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                              <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th>Nombre cultivo</th>
                                        <th>Detalle del cultivo</th>
                                        <th>Hectareas sembradas</th>
                                        <th>Fecha de siembra</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let cultivo of cultivos">
                                    <td>{{cultivo.nombre_cult}}</td>
                                    <td>{{cultivo.detalle_cult}}</td>
                                    <td>{{cultivo.cant_cult}}</td>
                                    <td>{{cultivo.fecha_cult}}</td>
                                    <td>
                                        <div class="dropright">
                                            <a class="nav-link  fas fa-ellipsis-h" id="navbarDropdownMenuLinks" role="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinks">
                                            <a (click)="modificarCultivo(cultivo.id_cultivo)" class="dropdown-item" role="button" data-placement="right" title="Modificar telefono" data-toggle="modal" data-target="#modal3">
                                                <i class="fas fa-edit"></i>
                                                Modificar cultivos
                                            </a>
                                            <a (click)="eliminarCultivo(cultivo.id_cultivo)" class="dropdown-item" role="button" data-placement="right" title="Eliminar telefono" data-toggle="tooltip">
                                                <i class="far fa-trash-alt"></i> 
                                                &nbsp;Eliminar cultivo
                                            </a>
                                            </div>
                                        </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
                  </div>
            </td>
            </tr>
        </tbody>
    </table>
</div>
